<%= form_for @student do |f| %>
  <div>Nuevo Estudiante:</div>
  <div>Estudiante: <%= f.text_field :name %></div>
  <div>Edad: <%= f.text_field :age %></div>
  Pic: <%= f.file_field :pic %>
  <%= f.submit %>
<% end %>