<%= link_to "Lista de Estudiantes", "/students" %>
<%= link_to "Lista de Profesores", "/teachers" %>
<%= link_to "Lista de Materias", "/subjects" %>
<p>---------------------------------------------------</p>
<p>Link para crear un <%= link_to "Nuevo Estudiante", "/students/new" %>:</p>
<p>Lista completa de estudiantes:</p>

<% @students.each do |student| %>
  <div><%= link_to(student.name, "/students/#{student.id}") %></div>
<% end %>
