<%= form_for @student do |f| %>
  <div>Nuevo estudiante:</div>
  <div>Nombre: <%= f.text_field :name %></div>
  <div>Edad: <%= f.text_field :age %></div>
  <div>Foto: <%= f.file_field :pic %></div>
  <%= f.submit %>
<% end %>

<div><%= link_to "back to students", "/students" %></div>