<%= form_for @student do |f| %>
  <div>Nuevo estudiante:</div>
  Nombre: <%= f.text_field :name %>
  Edad: <%= f.text_field :age %>
  Foto: <%= f.file_field :pic %>
  <%= f.submit %>
<% end %>

<div><%= link_to "back to students", "/students" %></div>