<%= link_to "students index", "/students" %>

<h2><%= @student.name %></h2>
<h2>Edad: <%= @student.age %></h2>
<% if @student.pic.attached? %>
<%= image_tag @student.pic %>
<% end %>

<%= link_to "edit", "/students/#{@student.id}/edit" %>
<%= button_to "Delete", @student, method: :delete %>
<div>Id for this student is <%= (@student.id) %></div>

<h1>!!!here should be a link to add the new student to a lesson</h1>


<%= form_for [@student, @student_subject] do |f| %>
  <div>Añadir a clase: <%= f.select("subject_id", Subject.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>
  <%= f.submit %>
<% end %>


<% @student.subjects.each do |subject| %>
  <%= button_to "Remove Student from class", 
  "/students/#{@student.id}/delete_by_subject/#{subject.id}", method: :delete %>
<% end %>