<%= link_to "index of students", "students" %>


<h2><%= @student.name %></h2>
<%= if @student.pic.attached? %>
  <%= image_tag @student.pic %>
  <%= image_tag @student.pic, class: "burger-pic mac", height: 800 %>
<%= end %>

<%= link_to "edit", "/students/#{@student.id}/edit" %>
<%= button_to "Delete, @student, method: :delete, data: { confirm: "Are you sure?"} %>