<h2><%= @teacher.name %></h2>
<div>Id del Profesor: <%= @teacher.id %></div>
<% if @teacher.pic.attached? %>
  <%= image_tag @teacher.pic %>
<% end %>

<%= link_to "edit", "/teachers/#{@teacher.id}/edit" %>
<%= button_to "Delete", @teacher, method: :delete %>